body {
    margin: 0;
}

#poppins-font {
    font-family: 'Poppins', sans-serif;
}

#roboto-font {
    font-family: 'Roboto', sans-serif;
}


#zone-color {
    color: #FBA24F;
}

.half-width-order {
    width: 50%;
}

.half-width-order img {
    width: 75%;
}

.half-width-contact {
    width: 50%;
}

.half-width-contact img {
    width: 300px;
    height: 475px;
    margin-top: 60px;
    padding-left: 199px;
}

.order-title {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    padding-left: 40px;
    margin-top: 240px;

}

.top-image {
    position: absolute;
    width: 659px;
    height: 748px;
    padding-left: 620px;
    margin-top: 50px;
}

#diet-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #828282;
    margin-top: 520px;
    padding-left: 40px;
    margin-bottom: 40px;
}

.link-button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    padding: 15px 25px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 100px;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    margin-left: 40px;
}

.flexible-container {
    display: flex;
    padding-left: 5%;
}

.box-container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.contact-banner {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;

}

#about-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-left: 45px;
    margin-top: 127px;
    margin-bottom: 32px;
    color: #707070;

}

#about-info {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    padding-left: 45px;
    margin-bottom: 90px;
    width: 444px;
    height: 160px;
}

#recipie-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #676767;
    margin-top: 72px;
    text-align: center;
}

#recipie-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #252525;
    text-align: center;

}

#recipie-section {
    width: 706px;
    height: 159px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
}

.recipie-container {
    flex: none;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    width: 560px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;

}

.recipie-img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding-left: 30px;
    margin-top: 30px;
}

.recipice-item-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 40px;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.recipie-items-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #252525;
    text-align: justify;
    padding-left: 30px;
    width: 500px;
}

.bottom-container {
    display: flex;
    box-shadow: 0px 15px 70px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 1200px;
    height: 200px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px, 165px, 64px, 165px;
    justify-content: space-evenly;
}

.bottom-items-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #18191F;
    margin-top: 55px;
}

.bottom-items-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #18191F;
    margin-top: -25px;
}

footer {
    display: flex;
    background-color: #18191F;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 90px;
    margin-bottom: 0%;
}

#foot-mark-zone {
    color: #5B5B5B;
}

#foot-title {
    flex: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-top: 37px;
    padding-left: 620px;
}

#foot-info {
    flex: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-top: 37px;
    margin-bottom: 50px;
    padding-left: 480px;
}